@import './variables.scss';

// 게이지 차트
.cm-gauge-chart {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  &__grid {
    position: absolute;
    top: -25px;
    width: 250px;
    height: 250px;
  }
  &__desc {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 122px;
    height: 36px;
    line-height: 36px;
    padding: 0 24px;
    background: $white 0% 0% no-repeat padding-box;
    border: 1px solid $gray-5;
    border-radius: 4px;
    box-shadow: inset 0px 2px 4px #22262b26;
    transform: translateX(-50%);
    font-size: 13px;
    color: $gray-150;
    em {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.cm-status-line-chart {
  height: 230px;
  & > div {
    width: 100% !important;
    canvas {
      width: 100% !important;
    }
  }
}

.cm-line-chart {
  height: 230px;
  width: 100%;
  & > div {
    width: 100% !important;
    canvas {
      width: 100% !important;
    }
  }
}

.cm-bar-chart {
  & > div {
    width: 100% !important;
    canvas {
      width: 100% !important;
    }
  }
}