@import './variables.scss';

// ===================================== Button =====================================
%btn {
  height: $btn-h;
  min-width: 74px;
  padding: 0 24px;
  border-radius: $radius-10;
  box-sizing: border-box;
  transition: $transition;
  font-weight: 500;
  border-width: 1px;
  &:has(img) {
    display: flex;
    align-items: center;
    padding: 0 12px;
    img {
      margin-right: 8px;
    }
    span {
      font-size: 13px;
    }
  }
}
.btn {
  // primary button
  &__primary {
    @extend %btn;
    background: transparent
      linear-gradient(180deg, #fc9025 0%, #fc9025 20%, #f98024 100%) 0% 0%
      no-repeat padding-box;
    border-color: #e4721b;
    color: $white;
    &:hover {
      background: transparent
        linear-gradient(180deg, #fe8812 0%, #fe8812 20%, #f56505 100%) 0% 0%
        no-repeat padding-box;
      border-color: #e0600b;
    }
    &:active {
      background: transparent
        linear-gradient(180deg, #fe8812 0%, #fe8812 20%, #f56505 100%) 0% 0%
        no-repeat padding-box;
      border-color: #dc4807;
    }
  }
  // line button
  &__line {
    @extend %btn;
    background: transparent
      linear-gradient(180deg, #fafbfc 0%, #fafbfc 20%, #f2f4f7 100%) 0% 0%
      no-repeat padding-box;
    border-color: $gray-10;
    color: #777d87;
    &:hover {
      background: transparent
        linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0% 0%
        no-repeat padding-box;
      border-color: #93b9ea;
      color: $blue;
    }
    &:active {
      background: transparent
        linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0% 0%
        no-repeat padding-box;
      border-color: #2668c9;
      color: $blue;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background: $white;
    border-radius: $radius-10;
    border: 1px solid $gray-10;
    transition: $transition;
    &:hover {
      background: #f2f5fa;
      border: 1px solid #a3b3cc;
      g {
        opacity: 1;
      }
    }
    &:active {
      background: #ebf1fa;
      border: 1px solid #6d8fc2;
      svg {
        path {
          fill: #2668c9;
        }
      }
    }
    &--active {
      background: #ebf1fa;
      border: 1px solid #6d8fc2;
      svg {
        path {
          fill: #2668c9;
        }
      }
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        border: 1px solid $gray-10;
        background: $white;
        g {
          opacity: 0.5;
        }
      }
    }
  }
}

// ===================================== Checkbox =====================================
.cm-checkbox {
  margin-left: initial !important;
  margin-right: initial !important;
  .MuiCheckbox-root {
    padding: 0;
    margin-right: 8px;
    & + .MuiTypography-root {
      font-size: 13px !important;
      color: $gray-150;
      font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif !important;
    }
  }
  .Mui-checked {
    svg {
      background: url('/icons/checkbox--checked.svg') no-repeat center;
    }
  }
  svg {
    width: 16px;
    height: 16px;
    background: url('/icons/checkbox--default.svg') no-repeat center;
    path {
      display: none;
    }
  }
}

// ===================================== Input =====================================
.cm-input {
  display: inline-block;
  flex: 1 1 0%;
  position: relative;
  width: 100%;

  // input 공통 스타일
  input {
    height: $form-h;
    width: 100%;
    padding: 0px 12px;
    background: $white;
    border: 1px solid $gray-10;
    border-radius: $radius-50;
    transition: $transition;
    color: $gray-250;
    outline: 1px solid transparent;
    &:focus {
      border-color: $blue;
      outline: 1px solid $blue;
    }
    &::placeholder {
      color: $gray-50;
    }
    &:read-only {
      color: $blue;
      cursor: default;
      &:focus {
        border: 1px solid $gray-10;
        outline: 1px solid transparent;
      }
    }
  }

  // 버튼이 있을 경우 적용되는 스타일
  &__btn {
    input {
      padding-right: 42px;
    }
    button {
      position: absolute;
      right: 12px;
      top: 50%;
      width: 20px;
      height: 100%;
      transform: translateY(-50%);
      &.cm-input__btn-reset {
        opacity: 0.7;
        transition: $transition;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &--filled {
    input {
      background: #f7f8fa;
    }
  }
  &--error {
    input {
      border-color: $error;
      outline: 1px solid $error;
    }
  }

  // input[type='number'] 일 경우
  &-number {
    display: flex;
    align-items: center;
    flex: none;
    width: 65px;
    outline: 0;
    input {
      height: 24px;
      padding-right: 30px;
      transition: none;
      text-align: right;
      font-size: 13px;
      &:focus {
        outline: 0;
        & + .cm-input-number__btn {
          button {
            background: transparent
              linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0%
              0% no-repeat padding-box;
            border-color: $blue;
            svg {
              path {
                fill: $blue;
              }
            }
          }
        }
      }
    }
    &__btn {
      display: flex;
      flex-flow: column;
      position: absolute;
      right: -1px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 13px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 12px;
        background: transparent
          linear-gradient(180deg, #fafbfc 0%, #fafbfc 20%, #f2f4f7 100%) 0% 0%
          no-repeat padding-box;
        border: 1px solid $gray-10;
        // 증가 버튼
        &:first-child {
          border-radius: 0 $radius-50 0 0;
          border-bottom: 0;
        }
        // 감소 버튼
        &:last-child {
          border-radius: 0 0 $radius-50 0;
        }
      }
    }
  }

  // input[type="number"] spinner 제거 (Chrome, Safari, Edge, Opera)
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // input[type="number"] spinner 제거 (Firefox)
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

// ===================================== Popup =====================================
.MuiDialog-container {
  .MuiPaper-root {
    width: 100%;
    .MuiDialogTitle-root {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-10;
    }
    .MuiDialogContent-root {
      padding: 20px;
    }
  }
}

// ===================================== Tooltip =====================================
.MuiPopper-root {
  .MuiTooltip-tooltip {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 26px;
    line-height: 16px;
    max-width: 195px;
    padding: 5px 12px;
    margin-top: 31px !important;
    margin-left: 0px !important;
    background: #86a8db;
    border: 1px solid #e6e8eb26;
    border-radius: $radius-10;
    box-shadow: 0px 2px 4px #22262b26;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
  }
}

// ===================================== form =====================================
.form {
  display: flex;
  align-items: center;
  &__label {
    display: flex;
    align-items: center;
    min-width: 156px;
    font-size: 13px;
    font-weight: 500;
    color: $gray-150;
    .tooltip {
      margin-left: 4px;
    }
  }
  & + .form {
    margin-top: 18px;
  }
}

// ===================================== switch =====================================
.cm-switch {
  width: 25px;
  height: 14px;
  padding: 0;
  .MuiButtonBase-root {
    padding: 2px 0 0 2px;
    &.Mui-checked {
      & + .MuiSwitch-track {
        background: $blue;
        opacity: 1;
      }
      .MuiSwitch-input {
        left: -21px;
      }
      .MuiSwitch-thumb {
        transform: translateX(-10px);
      }
    }
  }
  .MuiSwitch-input {
    width: 25px;
    height: 14px;
    left: 0;
  }
  .MuiSwitch-thumb {
    width: 10px;
    height: 10px;
    background: transparent
      linear-gradient(180deg, #fafbfc 0%, #fafbfc 20%, #f2f4f7 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 2px 4px #22262b33;
  }
  .MuiSwitch-track {
    width: 25px;
    height: 14px;
    background: #d3d7de;
    opacity: 1;
  }
}

// ===================================== datepicker =====================================
.cm-datapicker {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: $gray-150;

  .MuiFormControl-root {
    background: $white;
    // background: #f7f8fa;
    .MuiInputBase-root {
      padding-right: 0;
      border-radius: $radius-10;
      font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
      font-size: 13px;
      .MuiOutlinedInput-notchedOutline {
        border-color: transparent;
        border-collapse: collapse;
      }

      // 인풋
      .MuiInputBase-input {
        flex: 1 1 0%;
        height: 30px;
        width: 181px;
        padding: 0 10px;
        background: #f7f8fa;
        border: 1px solid #d3d7de;
        border-right: 0;
        box-sizing: border-box;
        border-radius: 3px 0px 0px 3px;
        color: $gray-150;
        &:placeholder-shown {
          background: $white;
          & + .MuiInputAdornment-root {
            .MuiButtonBase-root {
              svg {
                background: url('/icons/calendar--default.svg') no-repeat center;
              }
            }
          }
        }
      }
      // 버튼
      .MuiInputAdornment-root {
        padding: 0;
        width: 30px;
        height: 30px;
        max-height: initial;
        margin-left: 0;
        background: transparent
          linear-gradient(180deg, #fafbfc 0%, #fafbfc 20%, #f2f4f7 100%) 0% 0%
          no-repeat padding-box;
        border: 1px solid #d3d7de;
        border-radius: 0px 3px 3px 0px;
        box-sizing: border-box;
        .MuiButtonBase-root {
          width: 30px;
          height: 30px;
          padding: 0;
          border-radius: 0px 3px 3px 0px;
          svg {
            background: transparent
              linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0%
              0% no-repeat padding-box;
            background: url('/icons/calendar--selected.svg') no-repeat center;
            path {
              display: none;
            }
          }
          &:hover {
            background: transparent
              linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0%
              0% no-repeat padding-box;
            border: 1px solid #93b9ea;
          }
        }
      }

      // 인풋에 포커스 됐을 경우
      &.Mui-focused {
        .MuiOutlinedInput-notchedOutline {
          border-color: transparent;
          border-width: 1px;
        }
        .MuiInputBase-input {
          border-color: $blue;
        }
        .MuiInputAdornment-root {
          background: transparent
            linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0% 0%
            no-repeat padding-box;
          border: 1px solid #2668c9;
          .MuiButtonBase-root {
            svg {
              background: url('/icons/calendar--active.svg') no-repeat center;
            }
          }
        }
      }
      &.Mui-disabled {
        opacity: 1;
        .MuiInputAdornment-root {
          cursor: not-allowed;
          .MuiButtonBase-root {
            svg {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
.MuiPickersPopper-root {
  .MuiPickersPopper-paper {
    box-shadow: 0px 4px 8px #22262b26;
    border: 1px solid #e6e8eb;
    border-radius: $radius-50;
    .cm-datapicker__btn {
      width: 100px;
      height: 9px;
      display: inline-block;
      position: absolute;
      button {
        position: absolute;
        z-index: 1;
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid #d3d7de;
        border-radius: 3px;
        &:hover {
          background: #f2f5fa;
          border: 1px solid #a3b3cc;
        }
        &:nth-child(1) {
          top: 22px;
          left: 13px;
          transform: translateY(-50%);
        }
        &:nth-child(2) {
          top: 22px;
          left: 184px;
          transform: translateY(-50%);
        }
      }
    }
    .MuiPickersLayout-root {
      // 컨텐츠
      .MuiPickersLayout-contentWrapper {
        hr {
          display: none;
        }
        // 캘린더
        .MuiDateCalendar-root {
          width: 216px;
          min-height: 212px;
          max-height: 242px;
          height: fit-content;
          // 헤더
          .MuiPickersCalendarHeader-root {
            position: relative;
            min-height: 19px;
            max-height: 19px;
            margin-bottom: 9px;
            // 연도, 월 라벨
            .MuiPickersCalendarHeader-labelContainer {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              color: $gray-150;
              .MuiButtonBase-root {
                display: none;
              }
              .css-dplwbx-MuiPickersCalendarHeader-label {
                margin-right: 0;
              }
            }
            // 버튼
            .MuiPickersArrowSwitcher-root {
              .MuiIconButton-edgeEnd {
                position: absolute;
                top: 50%;
                left: 38px;
                width: 20px;
                height: 20px;
                padding: 0;
                border: 1px solid #d3d7de;
                border-radius: $radius-10;
                transform: translateY(-50%);
                svg {
                  background: url('/icons/arrow-l__line--658.svg') no-repeat
                    center;
                  path {
                    display: none;
                  }
                }
                &:hover {
                  background: #f2f5fa;
                  border: 1px solid #a3b3cc;
                }
              }
              .MuiIconButton-edgeStart {
                position: absolute;
                top: 50%;
                right: 38px;
                width: 20px;
                height: 20px;
                padding: 0;
                border: 1px solid #d3d7de;
                border-radius: $radius-10;
                transform: translateY(-50%);
                svg {
                  background: url('/icons/arrow-r__line--658.svg') no-repeat
                    center;
                  path {
                    display: none;
                  }
                }
                &:hover {
                  background: #f2f5fa;
                  border: 1px solid #a3b3cc;
                }
              }
            }
          }
          // 날짜
          .MuiPickersFadeTransitionGroup-root {
            .MuiDayCalendar-header {
              .MuiDayCalendar-weekDayLabel {
                width: 24px;
                height: 17px;
                color: #7b828c;
                font-size: 12px;
                font-weight: 500;
                font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
              }
            }
            .MuiPickersSlideTransition-root {
              .MuiDayCalendar-monthContainer {
                .MuiDayCalendar-weekContainer {
                  margin-top: 7px;
                  &:first-child {
                    margin-top: 6px;
                  }
                  .MuiPickersDay-root {
                    width: 24px;
                    height: 24px;
                    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo',
                      Sans-serif;
                    font-size: 13px;
                    color: $gray-150;
                    border-radius: $radius-10;
                    border: 0;
                    &.Mui-selected {
                      border: none;
                      color: $white;
                    }
                  }
                }
              }
            }
          }
          .css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
            overflow: hidden;
            min-height: initial;
            max-height: 210px;
            > * {
              position: initial;
            }
          }
        }
        // 분 선택
        .MuiMultiSectionDigitalClock-root {
          height: 212px;
          border-left: 1px solid #e6e8eb;
          .MuiMultiSectionDigitalClockSection-root {
            width: 120px;
            .MuiMenuItem-root {
              width: 100%;
              height: 30px;
              justify-content: flex-start;
              padding: 0 10px;
              margin: 0;
              font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
              font-size: 13px;
              color: $gray-150;
              &.Mui-selected {
                background: #f0f6fc;
              }
              &:hover {
                background: #f0f6fc;
              }
            }
          }
        }
      }
      // 풋터
      .MuiDialogActions-root {
        .MuiButtonBase-root {
          &:nth-child(1) {
            @extend .btn__line;
            border: 1px solid #d3d7de;
          }
          &:nth-child(2) {
            @extend .btn__primary;
            border: 1px solid #e4721b;
          }
        }
      }
    }
  }
}
