@import './variables.scss';

.dashboard {
  // ====================================== 대시보드 공통 스타일 ======================================
  display: grid;
  gap: 14px;
  &-box {
    display: flex;
    flex-flow: column;
    padding: 13px 20px;
    padding-right: 0; // 스크롤 발생 시 스타일을 위함
    background: $white;
    border-radius: 6px;
    border: 1px solid #e6e8eb;
    box-sizing: border-box;
    &__header {
      margin-bottom: 14px;
      padding-right: 20px;
      line-height: 20px;
      &:has(.dashboard-box__utils, .dashboard-box__utils-btn) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &__title {
      font-weight: 500;
      color: $gray-250;
      &--badage {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 23px;
        width: fit-content;
        height: 18px;
        padding: 0 8px;
        margin-left: 4px;
        background: $primary-30;
        border-radius: 9px;
        font-size: 13px;
        color: $white;
      }
    }
    &__utils {
      display: flex;
      align-items: center;
      gap: 10px;
      width: fit-content;
      &-divide {
        display: inline-block;
        width: 1px;
        height: 14px;
        margin: 0 5px;
        background: $gray-10;
        opacity: 0.6;
      }
      .btn__line {
        display: inline-block;
        height: 26px;
        line-height: 24px;
        padding: 0 10px;
        font-size: 12px;
        transition: $transition;
        &--active {
          background: transparent
            linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0% 0%
            no-repeat padding-box;
          border: 1px solid #2668c9;
          color: $blue;
        }
      }
      .btn__delete {
        font-size: 12px;
        font-weight: 500;
        color: #6580a8;
        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
      }
      &-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        .btn__line {
          display: inline-block;
          height: 26px;
          line-height: 24px;
          padding: 0 10px;
          font-size: 12px;
          transition: $transition;
          &--active {
            background: transparent
              linear-gradient(180deg, #deedfc 0%, #deedfc 20%, #ccdef6 100%) 0%
              0% no-repeat padding-box;
            border: 1px solid #2668c9;
            color: $blue;
          }
        }
        .btn__delete {
          font-size: 12px;
          font-weight: 500;
          color: #6580a8;
          &:hover {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
      &-menu {
        display: flex;
        gap: 10px;
      }
    }
    &__subtitle {
      display: inline-block;
      margin-bottom: 10px;
      color: #7b828c;
      font-size: 12px;
      font-weight: 500;
    }
    &__cont {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1 1 0%;
      scrollbar-gutter: stable;
    }
  }
  .chart {
    &__title {
      font-weight: 500;
      color: $gray-150;
    }
    &__info {
      font-size: 13px;
      color: $gray-100;
    }
  }
  //  ====================================== 대시보드/메인 스타일 ======================================
  &-main {
    grid-template-columns: 256px 664px 664px;
    grid-template-rows: 292px 486px;

    .dashboard-box {
      &:nth-child(4) {
        grid-column: 1 / 3;
      }
      &__cont {
        // 전체 상태
        &-total {
          display: flex;
          flex-flow: column;
          gap: 10px;
          %card {
            position: relative;
            height: 70px;
            width: 216px;
            padding: 8px 12px;
            border-radius: $radius-50;
            label {
              line-height: 20px;
              font-size: 13px;
              color: $white;
            }
            span {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              color: $white;
              font-size: 24px;
              font-weight: 600;
            }
          }
          .total-card {
            &--normal {
              @extend %card;
              background: $normal;
            }
            &--warning {
              @extend %card;
              background: $warning;
            }
            &--error {
              @extend %card;
              background: $error;
            }
          }
        }
        // Asset 상태
        &-asset {
          .asset-box {
            display: flex;
            flex-flow: column;
            width: 100%;
            height: 70px;
            padding: 8px 12px;
            box-sizing: border-box;
            border: 1px solid #e1e3e5;
            border-radius: $radius-50;
            & + .asset-box {
              margin-top: 10px;
            }
          }
        }
        // 품목상태
        &-item {
          display: grid;
          grid-template-columns: repeat(4, 148px);
          grid-template-rows: repeat(auto-fill, 110px);
          gap: 10px;
          li {
            display: flex;
            flex-flow: column;
            height: 110px;
            padding: 10px 10px 8px;
            border-radius: $radius-50;
          }
          %item-card {
            .item-card {
              &__type {
                width: 52px;
                padding: 0 6px 0 21px;
                border-radius: 9px;
                font-size: 12px;
                font-weight: 500;
                color: $white;
              }
              &__status {
                margin: 8px auto 6px;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;
                color: $white;
              }
              &__model {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 19px;
                font-size: 13px;
                font-weight: 500;
                color: $white;
              }
              &__info {
                font-size: 12px;
                opacity: 0.8;
                color: $white;
                span {
                  & + span {
                    position: relative;
                    margin-left: 13px;
                    &::before {
                      content: '';
                      position: absolute;
                      left: -7px;
                      top: 50%;
                      width: 1px;
                      height: 12px;
                      background: $white;
                      transform: translateY(-50%);
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
          }
          .item-card {
            &--error {
              @extend %item-card;
              background: $error;
              .item-card__type {
                background: #f56a73 url('/icons/error__circle--e84.svg')
                  no-repeat left 4px center;
              }
            }
            &--warning {
              @extend %item-card;
              background: $warning;
              .item-card__type {
                background: #fdd55b url('/icons/warning__circle--fcc.svg')
                  no-repeat left 4px center;
              }
            }
            &--normal {
              @extend %item-card;
              background: $normal;
              .item-card__type {
                background: #4cc752 url('/icons/normal__circle--37a.svg')
                  no-repeat left 4px center;
              }
            }
            &--break {
              &-normal {
                @extend %item-card;
                background: #adb1b8;
                .item-card__type {
                  background: #c9ccd1 url('/icons/normal__circle--adb.svg')
                    no-repeat left 4px center;
                }
              }
              &-warning {
                @extend %item-card;
                background: #adb1b8;
                .item-card__type {
                  background: #c9ccd1 url('/icons/warning__circle--adb.svg')
                    no-repeat left 4px center;
                }
              }
              &-error {
                @extend %item-card;
                background: #adb1b8;
                .item-card__type {
                  background: #c9ccd1 url('/icons/error__circle--adb.svg')
                    no-repeat left 4px center;
                }
              }
            }
          }
        }
        // 3D 뷰어 이미지
        &--viewer {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 410px;
            object-fit: cover;
          }
        }
      }
    }
  }

  //  ====================================== 대시보드/상세 스타일 ======================================
  &-detail {
    justify-content: center;
    grid-template-columns: 528px 392px 664px;
    grid-template-rows: repeat(3, 300px);
    padding-top: 48px;
    &__wrap {
      overflow: auto;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &__header {
      display: flex;
      position: absolute;
      top: 0;
      left: -32px;
      z-index: 1;
      width: calc(100% + 32px);
      height: 48px;
      padding: 0 33px;
      background: $white;
      align-items: center;
      box-shadow: inset 0px -1px 0px #d8dde3;
      font-size: 13px;
      color: #777d87;
      li {
        display: flex;
        align-items: center;
        img {
          margin: 0 6px;
        }
        &:last-child {
          color: $gray-250;
          img {
            display: none;
          }
          &:hover {
            text-decoration: none;
            cursor: default;
          }
        }
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .dashboard-box {
      &:nth-child(4) {
        grid-column: 1 / 4;
      }
      &:nth-child(5) {
        grid-column: 1 / 4;
      }
      &__title {
        & + .MuiInputBase-root {
          margin-left: 12px;
        }
      }
      &__cont {
        &-parts {
          display: flex;
          align-items: center;
          .parts {
            display: flex;
            flex-flow: column;
            flex: 1 1 0%;
            &__title {
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              width: 190px;
              white-space: nowrap;
              font-size: 20px;
              font-weight: 500;
              color: $gray-250;
            }
            &__type {
              display: inline-block;
              min-width: 44px;
              width: fit-content;
              height: 20px;
              line-height: 20px;
              margin-top: 5px;
              padding: 0 10px;
              border-radius: 10px;
              background: #8b99ad33;
              font-weight: 500;
              font-size: 13px;
              color: $gray-100;
            }
          }
        }
      }
    }
  }

  //  ====================================== 대시보드/상세 시각화, 데이터 비교 공통 스타일 ======================================
  &__data-select {
    display: flex;
    height: 100%;

    .data-select {
      &__sidebar {
        overflow: auto;
        flex: 1 1 0%;
        height: 100%;
        padding: 4px 0;
        border-right: 1px solid #e6e8eb;
      }
      &__cont {
        width: 420px;
        padding: 14px 20px;
        &-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          font-size: 13px;
          font-weight: 500;
          color: $gray-150;
        }
        &-select {
          height: 32px;
          line-height: 32px;
          padding: 0 12px;
          margin-bottom: 8px;
          border: 1px solid #d3d7de;
          border-radius: $radius-10;
          font-size: 13px;
          color: $blue;
        }
        &-list {
          overflow: auto;
          height: calc(100% - 115px);
          li {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            border-bottom: 1px solid #e1e3e5;
            font-size: 13px;
            color: $gray-150;
            &:nth-child(2n) {
              background: #f5f6f7;
            }
            &:hover {
              background: #f0f6fc;
            }
            span {
              overflow: hidden;
              text-overflow: ellipsis;
              flex: 1 1 0%;
              white-space: nowrap;
            }
          }
        }
        &-btn {
          margin-top: 8px;
          text-align: right;
          button {
            & + button {
              margin-left: 8px;
            }
          }
        }
      }
      &__btn {
        font-size: 12px;
        color: #6580a8;
        &:hover {
          text-decoration: underline;
          text-underline-position: under;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
          text-decoration: none;
        }
      }
    }
    &-p {
      .MuiMenu-paper {
        width: 661px;
        height: 468px;
        border: 1px solid #e6e8eb;
        border-radius: 5px;
        box-shadow: 0px 4px 8px #22262b26;
        .MuiMenu-list {
          padding: 0;
          height: 100%;
        }
      }
    }
  }
  &__section-setting {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    .section-setting {
      &__header {
        font-size: 13px;
        font-weight: 500;
        color: $gray-150;
        .tooltip {
          margin-left: 4px;
        }
      }
      &__footer {
        margin-top: 8px;
        text-align: right;
        button {
          & + button {
            margin-left: 8px;
          }
        }
      }
    }
    &-p {
      .MuiMenu-paper {
        width: 484px;
        height: 174px;
        border: 1px solid #e6e8eb;
        border-radius: 5px;
        box-shadow: 0px 4px 8px #22262b26;
        .MuiMenu-list {
          padding: 22px 20px 18px;
          height: 100%;
        }
      }
    }
  }
  //  ====================================== 대시보드/상세 시각화 스타일 ======================================
  &-visualization {
    overflow: hidden;
    padding-top: 48px;
    justify-content: center;
    .dashboard-box {
      width: 1616px;
    }
    .cm-status-line-chart {
      height: 600px;
    }

    .cm-line-chart {
      height: 600px;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
    }
    &__btn {
      height: 32px;
      line-height: 32px;
      padding: 0 24px;
      margin-top: 20px;
      margin-left: auto;
      background: $white;
      border: 1px solid #d3d7de;
      border-radius: $radius-10;
      font-weight: 500;
      color: #6580a8;
      transition: $transition;
      &:hover {
        background: #f2f5fa;
        border-color: #a3b3cc;
      }
      &:active {
        background: #ebf1fa;
        border-color: #6d8fc2;
      }
    }
  }

  //  ====================================== 데이터 비교 스타일 ======================================

  &-data {
    padding-top: 48px;
    &__header {
      @extend .dashboard-detail__header;
      justify-content: flex-end;
      button {
        font-size: 12px;
        font-weight: 500;
        color: #6580a8;
        &:hover {
          text-decoration: underline;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .dashboard-box {
      width: 1616px;
      height: 480px;
      .cm-line-chart,
      .cm-status-line-chart {
        height: 412px;
      }
      & + .dashboard-box {
        margin-top: 16px;
      }
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      max-width: 1616px;
      width: 100%;
      margin-bottom: 16px;
      background: $white;
      border: 1px solid $gray-10;
      border-radius: 6px;
      transition: $transition;
      color: #6580a8;
      &:hover {
        background: #f2f5fa;
        border: 1px solid #a3b3cc;
      }
      &:active {
        background: #ebf1fa;
        border: 1px solid #6d8fc2;
      }
    }
  }
}
