@import './variables.scss';

// ===================================== Login =====================================
.login {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  background: url('/icons/watermark.svg') no-repeat bottom 16px right 20px;

  &-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    width: 416px;
    height: 512px;
    padding: 69px 48px 90px;
    margin-top: 104px;
    background: $white;
    border: 1px solid $gray-8;
    border-radius: $radius-50;
    box-shadow: 0px 5px 10px #22262b26;
    &__title {
      line-height: 35px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      color: $gray-500;
    }
    &__form {
      display: flex;
      flex-flow: column;
      justify-content: center;
      flex: 1;
      width: 100%;
    }
    .btn__primary {
      width: 100%;
      height: 40px;
      font-size: 16px;
      font-weight: 600;
    }
    &__btns {
      display: flex;
      gap: 32px;
      margin-top: 22px;
      button {
        position: relative;
        color: $gray-150;
        & + button {
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -16px;
            height: 14px;
            width: 1px;
            background: $gray-150;
            opacity: 0.5;
            transform: translateY(-50%);
          }
        }
        &:hover {
          text-decoration: underline;
        }
        &:active {
          text-decoration: none;
          color: $blue;
        }
      }
    }
    .cm-input {
      input {
        background: $gray-2;
      }
      & + .cm-input {
        margin-top: 12px;
      }
      &__btn {
        button {
          height: 36px;
        }
      }
    }
    .cm-checkbox {
      width: fit-content;
      margin-top: 14px;
      margin-bottom: 39px;
      .css-ahj2mt-MuiTypography-root {
        line-height: 19px;
      }
    }
  }
  &__validation {
    position: absolute;
    top: 308px;
    font-size: 13px;
    color: $error;
  }
  &-footer {
    margin-top: 20px;
    color: $gray-50;
    font-size: 12px;
    font-weight: 300;
  }
}
