//  ===================================== variables =====================================
// color
$gray-10: #d3d7de; // input basic border-color
$gray-50: #99a1a8; // input placehodler
$gray-100: #748399;
$gray-150: #555759;
$gray-500: #43464d;
$gray-250: #22262b;

$primary-10: #3d4454;
$primary-20: #f88125;
$primary-30: #ff9d24;

$blue: #2668c9; // input focus border-color
$error: #e84a51;
$warning: #fcc347;
$normal: #37ab3b;

$white: #ffffff;

// etc
$radius-10: 3px; // button border-radius
$radius-50: 4px; // input basic border-radius
$transition: all 0.1s linear;
$form-h: 36px; // input height
$btn-h: 32px; // button height
$header-h: 56px;
