$gray-10: #dddddd; // input basic border-color
$gray-20: #aaaaaa; // input placehodler
$blue-10: #005eea; // input focus border-color
$blue-20: #24253c; // input focus border-color
$red-10: #ea0000; // input focus border-color
$white: #ffffff;
$radius-10: 4px; // input basic border-radius
$transition: all 0.1s linear;
$height-10: 32px; // input height

// ===================================== Header =====================================
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: $blue-20;
  color: $gray-20;
  &__menu {
    &--title {
      border-bottom: 1px solid $blue-20;
    }
    &--error {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 6px;
      background: $red-10;
      border-radius: 50%;
    }
    &--warning {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0 6px;
      background: rgb(255, 204, 0);
      border-radius: 50%;
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    &--square {
      position: relative;
      padding: 0 6px;
      margin-right: 12px;
      border-radius: $radius-10;
      &:hover {
        background: rgb(66, 63, 63);
      }
      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 50%;
      //   right: -6px;
      //   height: 16px;
      //   width: 1px;
      //   background: $gray-10;
      //   transform: translateY(-50%);
      // }
    }
    &--circle {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $gray-10;
      background: rgb(66, 63, 63);
      &:hover {
        background: rgb(107, 103, 103);
      }
    }
    &--badage {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        background: orange;
        border-radius: 50%;
      }
    }
  }
}

// ===================================== Button =====================================
%btn {
  height: $height-10;
  padding: 0 12px;
  border-radius: $radius-10;
  transition: $transition;
}
.btn {
  // primary button
  &__primary {
    @extend %btn;
    background: rgb(255, 140, 0);
    border: 1px solid rgb(255, 115, 0);
    color: $white;
    &:hover {
      background: rgb(255, 119, 0);
    }
    // primary button / width full(login button)
    &--full {
      @extend .btn__primary;
      flex: 1 1 0%;
      width: 100%;
    }
  }
  // line button
  &__line {
    @extend %btn;
    border: 1px solid $gray-10;
    &:hover {
      background: #cfddee;
      color: $blue-10;
    }
  }
}
// ===================================== Input =====================================

.cm-input {
  display: inline-block;
  flex: 1 1 0%;
  position: relative;
  width: 100%;

  // input 공통 스타일
  input {
    height: $height-10;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid $gray-10;
    border-radius: $radius-10;
    transition: $transition;
    outline: 1px solid transparent;
    &:focus {
      border-color: $blue-10;
      outline: 1px solid $blue-10;
    }
    &::placeholder {
      color: $gray-20;
    }
  }

  // 버튼이 있을 경우 적용되는 스타일
  &__btn {
    input {
      padding-right: 30px;
    }
    button {
      position: absolute;
      right: 0;
      top: 50%;
      width: 20px;
      height: 100%;
      transform: translateY(-50%);
    }
  }
  &--error {
    input {
      border-color: $red-10;
      outline: 1px solid $red-10;
    }
  }

  // input[type='number'] 일 경우
  &-number {
    flex: none;
    width: 100px;
    outline: 0;
    input {
      padding-right: 30px;
      transition: none;
      &:focus {
        outline: 0;
        & + .cm-input-number__btn {
          button {
            border-color: $blue-10;
          }
        }
      }
    }
    &__btn {
      display: flex;
      flex-flow: column;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      button {
        width: 20px;
        height: calc($height-10 / 2);
        border: 1px solid $gray-10;
        // 증가 버튼
        &:first-child {
          background: rgb(231, 249, 255);
          border-radius: 0 $radius-10 0 0;
          border-bottom: 0;
        }
        // 감소 버튼
        &:last-child {
          background: rgb(231, 249, 255);
          border-radius: 0 0 $radius-10 0;
        }
      }
    }
  }

  // input[type="number"] spinner 제거 (Chrome, Safari, Edge, Opera)
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  // input[type="number"] spinner 제거 (Firefox)
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

// ===================================== MuPopup =====================================
.MuiDialog-container {
  .MuiPaper-root {
    width: 100%;
    .MuiDialogTitle-root {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $gray-10;
    }
    .MuiDialogContent-root {
      padding: 20px;
    }
  }
}
// ===================================== Sidebar =====================================
.sidebar {
  display: flex;
  &__wrap {
    width: 100%;
  }
  .MuiDrawer-root {
    .MuiPaper-root {
      background: transparent;
      border: 0;
      .sidebar__trigger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 8px;
        width: 26px;
        height: 26px;
        background: $white;
        border: 1px solid $gray-10;
        border-radius: $radius-10;
      }
      .sidebar__content {
        height: 100%;
        margin-right: 20px;
        background: $white;
        border-right: 1px solid $gray-10;
      }
    }
  }
}
